.App {
  text-align: center;
}

.quscard {
  width: 60vw;
  margin: auto;
  padding: 5rem;
}

.result-top svg {
  width: 100px;
}

.result-top .p-1 {
  font-size: 30px;
}

.result-top .p-2 {
  font-size: 25px;
}

.checkBox:hover {
  background-color: rgb(189, 188, 188);
  border-radius: 10px;
}

.checkBox {
  cursor: pointer;
}

.checkBox .form-check-input {
  cursor: pointer;
}

.checkBox .form-check-label {
  cursor: pointer;
}

.table-responsive-lg {
  padding: 3rem !important;
}

@media only screen and (max-width: 1000px) {
  .quscard {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .quscard {
    width: 90%;
    padding: 0;
  }

  .card-text {
    margin: 0;
  }

}

@media only screen and (max-width: 475px) {
  .result-top .p-1 {
    font-size: 20px;
  }

  .result-top .p-2 {
    font-size: 20px;
  }

  .table-responsive-lg {
    padding: 0 !important;
  }
}